/*---------------------*/
/* Body and background */
/*---------------------*/
body {
    background: url('../images/maxresdefault.jpg') fixed center;
  }
  header {
    font-size: 50px;
    text-align: center;
    padding: 20px;
  }
  .characterWrapper {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
  #gameMessage {
    text-align: center;
    font-size: 10px;
  }
  #choose-enemy-button {
    visibility: hidden;
  }
  #restart-button {
    visibility: hidden;
  }
  #turn-counter {
    font-size: 150%;
  }
  
  /*---------------------*/
  /* Character rendering */
  /*---------------------*/
  .character {
    width: 190px;
    margin: 15px 11px 0px 15px;
    cursor: pointer;
    color: red;
    border: solid 3px;
    display: inline-block;
  }
  .character:hover {
  background: ghostwhite;
  }
  .character img {
    border: 0 none;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
  }
  .character-name {
    text-align: center;
    text-transform: capitalize;
    line-height: 30px;
    font-family: 'Itim', cursive;
    font-size: 20px;
    background: #000;
  }
  .character-health {
    text-align: center;
    background: #000;
  }
  
  /*---------------------*/
  /*      Fighting       */
  /*---------------------*/
  .attack {
    text-align: center;
  }
  .action {
    margin: 15px 0px;
  }
  #attack-button{
    visibility: hidden;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}
  #random-button{
  visibility: hidden;
  width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}
  .btn {
      background: #000;
      color: #DBD2C6;	
  }
  .enemy {
      width: 153px;
      margin: 5px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    cursor: pointer;
    background-color: red;
    float: left;
  }
  #attacker {
      padding: 5px;
  }
  .target-enemy {
    background-color: black;
    color: white;
  }
  
  /*---------------------*/
  /* Available Oponents  */
  /*---------------------*/
  #available-to-attack-section img {
      height: 100px;
  }
  
  /*---------------------*/
  /*      My Opponent       */
  /*---------------------*/
  
  #myOpponent-name {
    text-align: center;
  }
  #myOpponent-image {
    padding: 0px 16px;
    margin: 3px 0px;
  }
  #myOpponent-health {
    text-align: center;
  }
  
  /*---------------------*/
  /*   Media Queries     */
  /*---------------------*/
  @media only screen and (max-device-width: 768px) {
    .character {
      display: block;
    height: 150px;    
    }
    #gameMessage {
    font-size: 12px;
    }
  }